PORT=8080
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=dashway123456
NEO4J_DATABASE=neo4j
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=dashway
RABBITMQ_PASSWORD=dashway123456
GRAPH_EXCHANGE=dashway.graph
GRAPH_ROUTING_KEY=ingest
GRAPH_QUEUE=dashway.graph.ingest
GRAPH_RETRY_EXCHANGE=dashway.graph.retry
GRAPH_RETRY_ROUTING_KEY=ingest.retry
GRAPH_RETRY_QUEUE=dashway.graph.ingest.retry
GRAPH_DLQ_EXCHANGE=dashway.graph.dlx
GRAPH_DLQ_ROUTING_KEY=ingest.dlq
GRAPH_DLQ_QUEUE=dashway.graph.ingest.dlq
GRAPH_RETRY_DELAY_MS=30000
GRAPH_MAX_ATTEMPTS=5
GRAPH_PREFETCH=20
GRAPH_IDEMPOTENCY_TTL_MS=86400000
GRAPH_IDEMPOTENCY_CLEANUP_INTERVAL_MS=3600000
